@import './../../styles/_colors.scss';

.containerSearch {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  .containerSearch__navLogo {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/logo__large_plus@2x.png);
    background-size: 134px 34px;
    height: 34px;
    width: 150px;
    cursor: pointer;

    @media (max-width: 1024px) {
      width: 55px;
    }
  }

  .containerSearch__navSearch {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $gray-1;
    border: 1px solid $gray-1;

    .containerSearch__navSearch-searchInput {
      width: 94%;
      padding: 10px;
      border: none;

      &:focus {
        outline: none;
      }

      @media (max-width: 1024px) {
        width: 90%;
      }
    }

    .containerSearch__navSearch-searchIcon {
      width: 5%;
      display: flex;
      justify-content: center;
      .icon {
        color: $gray-2;
        box-sizing: border-box;
        transform: scale(var(--ggs, 1));
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-radius: 100%;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 8px;
          background: currentColor;
          transform: rotate(-45deg);
          top: 10px;
          left: 12px;
        }
      }

      @media (max-width: 1024px) {
        width: 10%;
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}
